<div class="csgo-filter-wrapper">
  <div class="filter-group">
    <input 
      type="number" 
      class="csgo-filter-input" 
      placeholder="$ Min" 
      [(ngModel)]="precioMinimo" 
      (input)="actualizarPrecioMinimo()"
    />
    <span class="filter-separator">-</span>
    <input 
      type="number" 
      class="csgo-filter-input" 
      placeholder="$ Max" 
      [(ngModel)]="precioMaximo" 
      (input)="actualizarPrecioMaximo()"
    />
  </div>

  <select 
    class="csgo-filter-select" 
    [(ngModel)]="categoriaSeleccionadaId" 
    (ngModelChange)="aplicarFiltro()"
  >
    <option [ngValue]=0 selected>Todas las Categorías</option>
    @for (item of categorias(); track item.id) {
      <option [ngValue]="item.id">{{ item.nombre }}</option>
    }
  </select>
</div>